<%= form_with(model: registrant, local: true) do |form| %>
  <% if registrant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(registrant.errors.count, "error") %> prohibited this registrant from being saved:</h2>

      <ul>
      <% registrant.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :contact_handle %>
    <%= form.text_field :contact_handle %>
  </div>

  <div class="field">
    <%= form.label :handle %>
    <%= form.text_field :handle %>
  </div>

  <p>Details:</p>
  <%= form.fields_for :detail_attributes, @registrant.detail do |detail| %>
    <%= detail.label :first_name %>
    <%= detail.text_field :first_name %>

    <%= detail.label :last_name %>
    <%= detail.text_field :last_name %>

    <%= detail.label :organization %>
    <%= detail.text_field :organization %>

    <%= detail.label :contact_number %>
    <%= detail.text_field :contact_number %>

    <%= detail.label :address %>
    <%= detail.text_field :address %>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
