
<% if @renew_flag == true %>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Period</th>
        <th>Registration Date</th>
        <th>Expiration Date</th>
        <th>Owner</th>
        <th colspan="5"></th>
      </tr>
    </thead>
    
    <tbody>
      <% @domains.each do |domain| %>
        <tr>
          <td><%= domain.domain_name %></td>
          <td><%= domain.period %></td>
          <td><%= domain.registration_date %></td>
          <td><%= domain.expiration_date %></td>
          <td><%= domain.user.first_name %></td>
          <td><%= link_to 'Click here to renew', edit_domain_path(domain) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <% if @available_flag == true %>

        <%= link_to 'Domain available. Do you want to register this domain?', new_registrant_path({:domain_name => @search_temp}) %>

  <% else %>
    Domain unavailable.
  <% end %>
<% end %>
