<p id="notice"><%= notice %></p>

<p>
  <strong>Domain name:</strong>
  <%= @domain.domain_name %>
</p>

<p>
  <strong>Period:</strong>
  <%= @domain.period %>
</p>

<p>
  <strong>Registration date:</strong>
  <%= @domain.registration_date %>
</p>

<p>
  <strong>Expiration date:</strong>
  <%= @domain.expiration_date %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @domain.user.first_name %>
</p>

<p>
  <strong>Registrant:</strong>
  <%= @domain.registrant_id %>
</p>

<%= link_to 'Edit', edit_domain_path(@domain) %> |
<%= link_to 'Back', domains_path %>


<br>
